body{
  margin: 0;
  padding: 0;
  background: #f2e8d5;
}

header {
  height: 66px;
  background: #273a73;
}

header .icon{
  float: left;
  height: inherit;
  margin-left: 2em;
}

header * {
  color: #f26457;
  font-family: 'Permanent marker', serif;
}

header .icon-text{
  font-size: 2.2rem;
  padding: 7px;
}

header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li{
  float: left;
  position: relative;
}

header ul li ul {
  position: absolute;
  top: 66px; /* altura do header */
  right: 0px;
  width: 180px;
  display: none;
}

header ul li:hover ul{
  display: block;
}

header ul li a:hover {
  background: #f2e8d5;
  transition: 0.5s;
}

header ul li ul li{
  width: 100%;
}

header ul li ul li a{
  padding: 10px;
  color: #444;
  background: #f26457;
}

header ul li ul li a.logout{
  color: red;
}

header ul li ul li a:hover{
  background: gray;
}

header ul li a{
  display: block;
  padding: 21px;
  font-size: 1.1rem;
  text-decoration: none;
}

header i.menu-toggle{
  display: none;
}

@media (max-width: 790px){
  header{
    position: relative;
  }

  header ul{
    max-height: 0px;
    width: 100%;
    overflow: hidden;
    
  }

  .showing {
    max-height: 100em;
  }

  header i.menu-toggle{
  display: block;
  float: right;
  margin: 20px;
  font-size: 1.5em;
}

header ul li {
  width: 100%;
}

header ul li ul{
  position: static;
  display: block;
  width: 100%;

}


}
